@media (max-width:768px) {
    blockquote {
        font-size: 16px;
        max-width: 90%;
        margin-bottom:20px;
        gap: 1.25rem;
    }

    .fundadora {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .foto-fundadora {
        width: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .texto-fundadora {
        width: 50%;
        top: 5%;
        padding: 10px;
        font-size: 13px;
        text-align: left;
        margin-top: 15px;
        margin-left: 35px;
    }

    .texto-fundadora h2 {
        font-size: 16px;
    }

    .boton {
        font-size: 13px;
        padding: 8px 10px;
        margin-top: 10px;

    }

.grid-container {
    grid-template-columns: 1fr; // una sola columna en tablet
    grid-template-rows: auto;
    p {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  .grid-item1,
  .grid-item2,
  .grid-item3 {
    flex-direction: column;
    padding: 30px 15px;
    gap: 20px;
  }

  .sabrina,
  .eugenia,
  .nadia {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

.articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .imagen {
    width: 80%;
    margin: 0 auto 20px;
  }

  .articulos {
    margin: 20px;
    padding: 20px;
  }

  .footer {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .footer a {
    font-size: 1.5rem;
  }
}

  .copy {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }