

/* Paleta de colores */
$turquesa:#5CB7B3;
$gris: #58595B;
$lila: #A477A5;


/* Colores con opacidad o variantes */
$turquesa-transparent: #5cb7b36c;
$lila-transparent: #a477a57e;
$lila-fondo: rgba(191, 160, 191, 0.8);


// Breakpoints
$breakpoint-sm: 20rem;
$breakpoint-md: 768px;