.footer {
  list-style: none;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5CB7B3;
}

.copy {
  background-color: #5CB7B3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}