.frase {
    width: 100%;
    background-image: url("../../assets/img/manchas-frase.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.frase-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    padding: 40px 20px;
}

blockquote {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: #333;
  max-width: 80%;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}