
.intro a button {
    border: 4px solid #A477A5;
    margin-top: 1.25rem;
    color: white;
    background-color: #A477A5;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.intro a button:hover {
    background-color: white;
    color: #A477A5;
    box-shadow: 0 0 10px #A477A5;
    transform: scale(1.05);
}

.boton {
  display: inline-block;
  margin-top: 8px;
  background-color: #A477A5;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  max-width: 200px;
  width: auto;
  padding: 0.75rem 1.5rem;
  text-align: center;

  &:hover {
    background-color: #A477A5;
  }
}
button {
    margin-top: 12px;
    padding: 10px 20px;
    background-color: #a1779c;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}