@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.formulario {
  background-color: #ddd;
  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;

  p {
    font-style: italic;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
  }

  .form-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

  .boton {
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }